.header-grad {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	@include rems(height, 20);
	@include horizontal-grad($primary, $secondary);
	.landing-flood {
		width: 100%;
		height: 100%;
	}
}
.sitemap-overlay {
	position: relative;
	z-index: 10;
	padding: 5% 0;
}
.large-proof {
	text-align: center;
	margin: 0 auto;
	@include rems(margin-bottom, 4);
	width: 90%;
	width: calc(100% - 160px);
	width: calc(100% - 16rem);
	//width: 100%;
	background: #eee;
	//border: 1px solid #eee;
	@include box;
	@include border-radius(5px);
	overflow: hidden;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	.browser-bar {
		@include clearfix;
		@include rems(padding, 1, 2, 2);
		border-bottom: 1px solid #ccc;
		text-align: left;
		ul {
			@include clearfix;
			@include rems(margin, 0, 0, 1);
			li {
				float: left;
				padding: 0;
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				@include rems(margin-right, 0.7);
				&:nth-child(1) {
					background: #fc615c;
					border: 1px solid #df4845;
				}
				&:nth-child(2) {
					background: #fdbc40;
					border: 1px solid #dea034;
				}
				&:nth-child(3) {
					background: #33c748;
					border: 1px solid #28ab35;
				}
			}
		}
		.address-bar {
			background: #fff;
			@include border-radius(5px);
			@include rems(padding, 0.5, 2);
			border: 1px solid #707070;
			@include box;
			a {
				color: #707070;
				float: right;
				text-decoration: none;
			}
		}
	}
	img {
		display: block;
	}
}
.bx-next, .bx-prev {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	background: $primary;
	color: #fff;
	@include rems(height, 4);
	@include rems(width, 4);
	@include font-size(3, 3);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	transition: 0.4s all ease;
	&:hover {
		@include opacity(0.8);
	}
	&.disabled {
		display: none;
	}
}
.bx-next {
	right: 0;
}
.bx-prev {
	left: 0;
}
.footer-w {
	@include rems(width, 10);
	@include rems(height, 10);
	background: url('images/favicons/apple-touch-icon-120x120.png') center center no-repeat #fff;
	background-size: 50% auto;
	border: 4px solid #fff;
	@include border-radius(50%);
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	margin: 0 auto;
	display: block;
	position: relative;
	@media #{$phone} {
		@include rems(width, 6);
		@include rems(height, 6);
	}
	&:before {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		content: '';
		@include border-radius(50%);
		-webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
				box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
	}	
}
article {
	&.sitemap-article {
		text-align: center;
		border: 1px solid #ccc;
		@include rems(padding, 8, 8, 13);
		background: #fff;
		@include border-radius(5px);
		position: relative;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
		@media #{$phone} {
			@include rems(padding, 2, 2, 5);
			//text-align: left;
		}
	}
	.footer-w {
		@include rems(width, 10);
		@include rems(height, 10);
		background: url('images/favicons/apple-touch-icon-120x120.png') center center no-repeat #fff;
		background-size: 50% auto;
		border: 4px solid #fff;
		@include border-radius(50%);
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%,-50%);
		@media #{$phone} {
			@include rems(width, 6);
			@include rems(height, 6);
		}
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			content: '';
			@include border-radius(50%);
			-webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
					box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
		}	
	}
	.primary {
		background: $primary;
		color: #fff;
		display: inline-block;
		@include rems(padding, 0.5, 2);
		font-weight: 400;
		@media #{$phone} {
			display: block;
		}
	}
}
.notes {
	@include rems(max-width, 80);
	margin: 0 auto;
	@include rems(margin-top, 8);
	@include rems(padding, 8, 0);
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: left;
	@media #{$phone} {
		@include rems(margin-top, 4);
		@include rems(padding, 4, 0);
	}
	.notes-trigger {
		display: block;
		color: $primary;
		border-bottom: 1px solid $secondary;
		font-weight: 400;
		@include angle-down;
		text-decoration: none;
		@include rems(margin-top, 2);
		&:first-child {
			margin-top: 0;
		}
		&:before {
			float: right;
			transition: 0.4s all ease;
		}
		&.active {
			&:before {
				transform: rotate(180deg);
			}
		}
	}
	.notes-content {
		@include rems(padding, 2, 0, 0);
		display: none;
	}
}
