h1 {
	&.page-title {
		font-weight: 100;
		text-transform: uppercase;
		@include rems(letter-spacing, 0.5);
		color: $secondary;
		@include font-size(5.6, 6.4);
		@include rems(margin-bottom, 8);
		@media #{$phone} {
			@include font-size(2.6, 3);
			font-weight: 400;
			@include rems(margin-bottom, 4);
		}
	}
}
ul {
	.notes-content & {
		@include rems(margin, 0, 0, 2, 2);
		&:last-child {
			margin-bottom: 0;
		}
		li {
			background: url('images/bullet@2x.png') top left no-repeat;
			background-size: 5px auto;
			background-size: 0.5rem auto;
			@include rems(padding-left, 1.5);
			@include rems(margin-bottom, 0.5);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
